@import url('https://fonts.googleapis.com/css2?family=Potta+One&family=Yusei+Magic&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  background: url(../assets/643.png);
  font-family: 'Yusei Magic', sans-serif;
}

.header {
  background-color: khaki;

  padding: 22px;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.header>button {
  padding: 8px 24px;
  font-family: 'Yusei Magic', sans-serif;
  font-size: 16px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s;
}

.header>button:hover {
  scale: 1.2;
}

.header>.active {
  background-color: #FFFA;
  scale: 1.2;
}

#main {
  height: 50vh;
  border: 2px solid red;
}

.footer {
  background-color: khaki;

  padding: 12px;
  display: flex;
  justify-content: space-around;
}

.footer>a {
  font-size: 12px;
}