* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  color: white;
  min-height: 100vh;
  margin: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pic {
  max-width: 500px;
  position: relative;
}

.pic>img {
  width: 100%;
}

.logo {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  background-color: #00000066;
  font-family: "norse-bold";
  font-size: 5rem;
  padding: 20px 0;
}

.logo>img {
  height: 150px;
  object-fit: contain;
}

form {
  background-color: red;
}

@font-face {
  font-family: 'norse-bold';
  src: url('./Norse-Bold.otf');
}