* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template: min(25%, 150px) 1fr / min(20%, 250px);
}

.header {
  border: 1px solid green;
  grid-area: 1/2/2/3;
}

.sidebar {
  border: 1px solid blue;
  grid-area: 1/1/3/2;
}

.main-content {
  border: 1px solid red;
}

.svg {
  width: 35px;
  height: 35px;
}