@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #121212;
  color: white;
  min-height: 100vh;
  font-family: 'Varela Round', sans-serif;
}

.header {
  text-align: center;
  line-height: 150px;
  border-bottom: 1px solid yellow;
  height: 150px;
  font-size: 75px;
  font-weight: 700;
  color: #ececec
}

.main {
  display: grid;
  grid-template-rows: 50px 1fr auto;
  gap: 10px;
  justify-items: center;
  align-items: center;
  padding: 50px 0;
}

#info {
  font-size: 35px;
}

#game-board {
  height: 360px;
  width: 360px;
  margin: 25px;
  border: 2px solid whitesmoke;

  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
}

.game-tile {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-weight: 500;
}

.game-tile:hover {
  background-color: #fff1;
  cursor: pointer;
}

#restart {
  padding: 15px 30px;
  font-family: 'Varela Round', sans-serif;
  font-size: 25px;
  background-color: #222;
  color: white;
  border: 1px solid white;
  border-radius: 6px;
}

#restart:hover {
  cursor: pointer;
  background-color: #222B;
}