.food-item {
  transition: box-shadow 0.25s, scale 0.25s;
}

.food-item>div:first-child {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-weight: 500;
  font-size: 20px;
}

.food-item:hover {
  box-shadow: 0 0 20px 5px #FFF;
  scale: 1.05;
  cursor: pointer;
}