@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0:600;1,400;1,700&family=Source+Sans+Pro:wght@200;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

main {
  min-height: 100vh;
  background-image: url(bg_night.jpg);
  background-size: cover;
  color: white;

  display: grid;
  grid-template-rows: 120px 1fr;
}

.header-form {
  justify-self: flex-end;
  align-self: center;
  margin: auto 100px;

  display: flex;
}

.search-box {
  padding: 5px 10px;
  font-size: 16px;
  background-color: rgb(255, 255, 255, 0.2);
  border: none;
  border-radius: 5px 0 0 5px;
  color: white;
  outline: none;
}

.search-btn {
  padding: 5px 20px;
  background-color: rgb(255, 255, 255, 0.45);
  border: none;
  border-radius: 0 5px 5px 0;
  color: white;
  outline: none;
  cursor: pointer;
  transition: all 200ms;
}

.search-btn:hover {
  background-color: rgb(255, 255, 255, 0.55);
}

.search-svg {
  width: 30px;
}

.datas {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto 100px;
  font-weight: 500;
}

.ambient {
  font-size: 28px;
}

.loc-name {
  font-size: 46px;
  font-weight: 600;
  letter-spacing: 0.1px;
  text-transform: uppercase;
}

.weather {
  display: flex;
}

.temp {
  font-size: 150px;
  font-weight: 700;
  position: relative;
}

.temp>.deg-c {
  position: absolute;
  font-size: 24px;
  top: 20px;
}

.extras {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  margin: 30px 50px;
  padding: 0 30px;
  border-left: 2px solid rgb(255, 255, 255, 0.5)
}