* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #121212;
  color: #FFF;
  font-family: Arial, sans-serif;
  padding: 30px
}

h1 {
  font-size: 48px;
  font-family: 'Press Start 2P', cursive;
}

img {
  width: 70px;
  display: block;
  margin: 6px auto 20px auto;
}

body>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 12px;
  min-height: 90vh;
}

#result {
  font-size: 35px;
  margin: 20px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}

.box {
  padding: 20px;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 25px;
  line-height: 30px;
}

.box>div {
  margin: 15px;
}

.tile {
  font-size: 16px;
  box-shadow: 5px 5px #aaa;
  color: white;
  padding: 25px;
  margin: 8px;
  background-color: transparent;
  border-radius: 1px;
  border: 1px solid white;
  transition: all ease-in 50ms;
}

.selected,
.player-tile:hover {
  cursor: pointer;
  translate: 5px 5px;
  box-shadow: none;
}

.selected {
  background-color: darkblue;
}

#newGame {
  padding: 15px 35px;
  margin: 35px 0 -20px;
  font-size: 18px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 3px;
  transition: box-shadow ease-in 150ms;
}

#newGame:hover {
  box-shadow: inset 0 0 3px 2px #FFF3;
  cursor: pointer;
}